<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Calculadora de Média - FIAP</h1>

    <p th:if="!${#strings.isEmpty(mediaFinal)}">
        A média final é: <span th:text="${mediaFinal}"></span>
        <span th:text="${mediaFinal > 6 ? 'Passou de ano!' : 'Tente novamente..'}"></span>
        <br>
        Média 1º Semestre: <span th:text="${dis.media}"></span><br>
        GS: <span th:text="${dis.gs}"></span><br>
        CP: <span th:text="${dis.cp}"></span><br>
        Challenge: <span th:text="${dis.challenge}"></span><br>
    </p>

    <form method="post" action="/calculadora/media">
        <div class="mb-3">
            <label class="form-label">Média 1º Semestre</label>
            <input type="number" name="media" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Média Checkpoint</label>
            <input type="number" name="cp" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Nota Global Solution</label>
            <input type="number" name="gs"class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Nota Challenge</label>
            <input type="number" name="challenge"class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-primary">Passou de ano?</button>
    </form>
</div>
</body>
</html>