<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Livros</title>
</head>
<body>
<div class="container" layout:fragment="conteudo">
    <h1>Lista de Livros</h1>
    <div th:if="!${#strings.isEmpty(msg)}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Sinopse</th>
            <th>Data de Publicação</th>
            <th>Disponível</th>
            <th>Número de páginas</th>
            <th>Preço</th>
            <th>Gênero</th>
            <th></th>
        </tr>
        <tr th:each="churros:${books}">
            <td th:text="${churros.titulo}"></td>
            <td th:text="${churros.sinopse}"></td>
            <td th:text="${#temporals.format(churros.dataPublicacao, 'dd/MM/yyyy')}"></td>
            <td th:text="${churros.disponivel?'Sim':'Não'}"></td>
            <td th:text="${churros.paginas}"></td>
            <td th:text="${#numbers.formatDecimal(churros.preco, 1, 2)}"></td>
            <td th:text="${churros.genero}"></td>
            <td>
                <a th:href="@{/livro/editar/}+${churros.id}" class="btn btn-sm btn-primary">Editar</a>
                <button th:onclick="|livroId.value = ${churros.id}|" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
            </td>
        </tr>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir o livro?
                </div>
                <div class="modal-footer">
                    <form th:action="@{/livro/excluir}" method="post">
                        <input type="hidden" id="livroId" name="idBook">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>