<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

    <h1>Olá Mundo Spring MVC</h1>
    <div>
        <a th:href="@{/produto/cadastrar}">Cadastro de Produto</a>
        <a th:href="@{/calculadora/media}">Calculadora de média</a>
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>