<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Editora</title>
</head>
<body>
<div class="container" layout:fragment="conteudo">
    <h1>Cadastro de Editora</h1>
    <div th:if="!${#strings.isEmpty(msg)}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>
    <form th:action="@{/editora/cadastrar}" method="post" th:object="${editora}">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" th:field="*{nome}" class="form-control">
            <p th:if="${#fields.hasErrors('nome')}" class="text text-danger" th:errors="*{nome}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">CNPJ</label>
            <input type="text" th:field="*{cnpj}" class="form-control">
            <p th:if="${#fields.hasErrors('cnpj')}" class="text text-danger" th:errors="*{cnpj}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="text" th:field="*{email}" class="form-control">
            <p th:if="${#fields.hasErrors('email')}" class="text text-danger" th:errors="*{email}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Logradouro</label>
            <input type="text" th:field="*{endereco.logradouro}" class="form-control">
            <p th:if="${#fields.hasErrors('endereco.logradouro')}" class="text text-danger" th:errors="*{endereco.logradouro}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Número</label>
            <input type="text" th:field="*{endereco.numero}" class="form-control">
            <p th:if="${#fields.hasErrors('endereco.numero')}" class="text text-danger" th:errors="*{endereco.numero}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">CEP</label>
            <input type="text" th:field="*{endereco.cep}" class="form-control">
            <p th:if="${#fields.hasErrors('endereco.cep')}" class="text text-danger" th:errors="*{endereco.cep}"></p>
        </div>
        <button class="btn btn-success">Cadastrar</button>
    </form>
</div>
</body>
</html>