<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produto</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Cadastro de Produto</h1>
    <p th:text="${nome}"></p>
    <p th:text="${preco}"></p>

    <form action="/produto/cadastrar" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome">
        <label for="preco">Preço</label>
        <input type="number" id="preco" name="preco">
        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>